<section id="main">
	<!-- Slide 1 -->
	<section>
		<section>
			<section>
				<h1>Valence: a full-circle data management solution for Angular.js applications.</h1>
			</section>
		</section>
	</section>
	<section>
		<section>
			<section>
				<header>
					<h1>Valence brings you:</h1>
				</header>
				<section class="slide-left">
					
				</section>
				<section class="slide-right">
					<ul>
						<li>Formalized view-models.</li>
						<li>Model data through dependency injection.</li>
						<li>Localized data stores.</li>
						<li>Authentication integration.</li>
						<li>View-model transitions.</li>
					</ul>
				</section>
			</section>
		</section>
	</section>
</section>