<div id="post" class="blog">
  <header>
    <h1>{{post.title.toUpperCase()}} - {{post.author}}</h1>
    <nav>
      <ul>
        <li><a href="#/blog/new" title="">New</a></li>
        <li><a ng-href="#{{edit}}">Edit</a></li>
      </ul>
    </nav>
  </header>
  <div class="content">
    <div class="body">
      <div class="avatar">
        <img src="{{post.avatar}}">
      </div>
      {{post.body}}
    </div>
    <div class="comments">
      <div class="new-comment">
        <textarea ng-model="comment"></textarea>
        <button type="submit" ng-click="saveComment('comments', {body: comment})">Post Comment</button>
      </div>
      <div class="list">
        <header>
          <h2>Comments</h2>
        </header>
        <div comments="comments">
          <div class="text">{{comment.body}}</div>
          <ul>
            <li ng-if="comment.user_id"><a href="#/authors/{{comment.user_id}}">{{comment.author}}</a></li>
            <li ng-if="!comment.user_id">Anon</li>
            <li>{{comment.created | date:'MM/dd/yyyy @ h:mma'}}</li>
            <li ng-click="showReply = true" class="reply">Reply</li>
          </ul>
          <div class="new-comment" ng-if="showReply">
            <textarea ng-model="reply"></textarea>
            <button type="submit" ng-click="submitReply(comment, reply)">Post Comment</button>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>