<div id="post" class="blog">
  <header>
    <h1>{{post.title.toUpperCase()}} - {{post.author}}</h1>
    <nav>
      <ul>
        <li><a href="#/blog/new" title="">New</a></li>
        <li><a ng-href="#{{edit}}">Edit</a></li>
      </ul>
    </nav>
  </header>
  <div class="content">
    <div class="body">
      <div class="avatar">
        <img src="{{post.avatar}}">
      </div>
      {{post.body}}
    </div>
    <div class="comments">
      <div class="new-comment">
        <textarea ng-model="comment"></textarea>
        <button type="submit" ng-click="saveComment('comments', {body: comment})">Post Comment</button>
      </div>
      <div class="list">
        <header>
          <h2>Comments</h2>
        </header>

        <div ng-repeat="comment in comments">
          <div class="text">{{comment.body}}</div>
          <ul >
            <li>{{comment.author}}</li>
            <li>{{comment.created}}</li>
            <li ng-click="" class="reply">Reply</li>
          </ul>
        </div>
      </div>
    </div>  
  </div>
</div>