/* Will be compiled down to a single stylesheet with your sass files */

/*
212838
3C4A5B
6C6F73
BAB8B6
6F4F3E
 */
body {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../images/mochaGrunge.png);
  font-size: 62.5%;
  color: #FFF;
  margin: 0 auto;
  font-family: "Helvetica Neue";
  font-weight: 100;
  overflow: hidden;
}

#bg-wrapper {
  height:100%;
  width:100%;
  position: absolute;
  z-index-1;
  background-color: rgba(30, 40, 56, .47);
  overflow: none;
}

/* defaults */
h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

a {
  text-decoration: none;
  color: #CCC;
}

ul {
  margin: 0;
  padding:0;
}

ul li {
  list-style-type: none;
  margin: 0;
  padding:0 .3rem;
}

p {
  font-size: 1.1rem;
}

section p {
  width: 95%;
  margin: 0 auto;
}

/* Content */
#header {
  border-bottom: 2px solid #BAB8B6;
  font-size: 1.4rem;
  height:70px;
  padding: 0 15px;
}

#header nav {
  position: relative;
  top:68%;
}

#header nav>ul {
  float:left;
  width:50%;
}

#header nav ul li {
  display: inline-block;
}

#header nav a:hover {
  border-top: 1px solid #fff;
}

#header nav div div {
  float:right;
  text-align: right;
  width:50%;

}

#content-wrapper {
  width:100%;
  height: 75%;
  overflow-y: auto;
  position: absolute;
  top:70px;
  z-index: 1;
  background-color: #efefef;
}

#transition-wrapper {
  height: 75%;
  overflow-y: auto;
  overflow-x: hidden; 
  opacity: 0;
  position: relative;
  z-index: 2;
  background-color: #efefef;
}

#transition-wrapper.ngLoader-visible {
  background-color: #efefef;
  opacity: 1;
  transition: opacity 1.5s ease-in-out 1s;
}

.container {
  height:100%;
  position: relative;
  padding:0 15px;
  color: #6C6F73;
  background-color: #efefef;
  text-align: center;
}

.container #main h1 {
  font-size: 1.4rem;
  margin-bottom: 0;
}

#main {
  height: 100%;
}

#main>section {
  width:100%;
  height: 100%;
  display: block;
}

#main>section>section {
  display: table;
  height: 100%;
  text-align: center;
  width:100%;
}

#main>section>section>section {
  display: table-cell;
  vertical-align: middle;
  width:100%;
}

#main section ul li {
  list-style-type: disc;
  font-size: 1.6rem;
  text-align: left;
}

.slide-left, .slide-right {
  display: inline-block;
  height: 100%;
  margin: 10% 5%;
}

.slide-left {
  width: 42%;
  height:267px;
  background-color: black;
}

.slide-right {
  width: 40%;
}

#main header h1 {
  margin: 0;
}

#main video {
  width: 960px;
  /*height: 100%;*/
}
/**
 * Guides
 */
#guides {

}

/**
 * Page wrappers
 */
.page-wrapper {
  height:100%;
}

/**
 * Menu
 */
.menu {
  text-align: left;
  width:20%;
  float:left;
  font-size: .95rem;
  overflow-y:auto;
}

.menu li a {
  cursor: pointer;
  width:auto;
  color: #6C6F73;
  transition: all .3s ease-in-out;
}

.menu li a:hover {
  color: #111;
  text-shadow: 1px 1px 4px #BAB8B6;
  transition: none;
}
/**
 * Main Content
 */
.main-content {
  width: 80%;
  float:left;
  height: 100%;
  display: table;
}

.main-content>section {
  display: table-cell;
  vertical-align: middle;
}

.main-content>section h2{
  margin: 0;
}

.main-content video {
  width:100%;
  height: 100%;
  position: relative;
  left:16px;
}

#footer {
  width: 100%;
  height: auto;
  border-top: 2px solid #BAB8B6;
}

#footer nav {
  margin: 0 auto;
  text-align: center;
}

#footer nav ul li {
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  font-size: .8rem;
}

#loader {
  width: 100%;
  height: 75%;
  position: absolute;
  text-align: center;
  top: 70px;
  opacity: 1;
  z-index: 2;
  background-color: #efefef;
}

#loader>div {
  display: table;
  height:100%;
  text-align: center;
  margin: 0 auto;
}

#loader>div>div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#loader.ngLoader-hidden {
  opacity: 0;
  transition: all 1s ease-in-out;
  z-index: 1;
  background-color: #efefef;
}

/**
 * BLOG DEMO
 */

.blog > header {
  position: fixed;
  width: 100%;
  left:0;
  top:70px;
  text-align: left;
  background-color: #efefef;
  z-index: 5;
  border-bottom:3px dotted #ccc;
  padding: 5px 10px;
  margin: 0 auto;
  box-shadow: 0px 4px 24px -3px #333
}

.blog > header h1 {
  text-align: left;
  display: inline-block;
}

.blog > header nav {
  text-align: right;
  float: right;
  display: inline-block;
  position: relative;
  top: 6px;
  right: 20px;
}

.blog > header nav li {
  display: inline-block;
}

.blog > header nav li a {
  color: #333;
  font-size: 1.3em;
}

.blog > header nav li a:hover {
  color: #ccc;
}

.blog {
  position: relative;
  top:50px;
}


/* List of blog posts */
#posts {
  text-align: left;
  width:80%;
}

.post {
  width:100%;
  margin-bottom: 5%;
  position:relative;
}

.post .meta {
  display: inline-block;
  float: right;
  margin-top: 1.6em;
}

.post .meta li {
  display: inline-block;
  padding:0;
  margin: 0;
}

.post .meta .post-author a:hover {
  text-decoration: underline;
}

.post-title {
  font-size: 2rem;
  width:85%;
}

.post-title a {
  border-bottom: 1px ridge #333;
  font-weight: 100;
}

.post-title a:hover {
  color:#6F4F3E;
}

.post-author {
  font-size: .9rem;
  text-align: right;
}

.post-avatar {
  position: absolute;
  right:-67px;
  top: 30px;
}

.post-author a {
  color: #6F4F3E;
  font-weight: 200;
}

.post-excerpt {
  width: 100%;
  font-size: .9rem;
  margin-top: .5rem;
}

/* individual posts */
#post .body {
  border-bottom: 1px dashed #ccc;
  font-size: 1.9em;
  padding: 10px 0;
  text-align: left;
}

#post .avatar {
  border-bottom: 1px solid #ccc;
  display: inline;
}

.comments {
  text-align: left;
  padding: 10px 0;
}

.comments .new-comment {
  position: relative;
}

.comments .new-comment textarea {
  background-color: #efefef;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  height:120px;
  outline: none;
}

.comments .new-comment button {
  width: 105px;
  height: 25px;
  background-color: #ccc;
  border-bottom-left-radius: 6px;
  position: relative;
  top:-27px;
  border:none;
  color:#333;
  cursor:pointer;
  outline:none;
}

.comments .new-comment button:focus {
  box-shadow: 1px -3px 6px 0px;
}

.comments .new-comment button:hover {
  background-color: #666;
}

.comments .list {

}

.comments .list .text {
  font-size: 1.5em;
}

.comments .list ul {
  border-top: 1px dashed #ccc;
  width:60%;
  text-align: right;
}

.comments .list ul li {
  display: inline-block;
}

.comments .list ul li:not(:last-child):after {
  content: " | ";
}

.comments .list ul li.reply {
  cursor: pointer;
}

.replies {
  position: relative;
  left:2.5em;
}

.comments .text {
  padding-top: 1em;
}

.new-comment {
  width:60%;
  border-bottom:1px dashed #ccc;
  padding-top: 1em;
}

.form {
  margin-top: 5%; 
}

.blog .form {
  margin-top: 0;
}

.form input, 
.form textarea {
  display: block;
  margin:10px auto;
  padding: 4px 3px;
  border: 2px solid #ccc;
  border-radius: 6px;
  width: 30%;
  line-height: 2em;
  font-size: 1.8em;
  outline: none;
}

.form input:focus,
.form textarea:focus {
  border:2px solid #666;
}

.post-form .form {
  text-align: left;
}

.post-form .form input, 
.post-form .form textarea {
  margin:10px 0;
}

.post-form .form textarea {
  width:100%;
  font-size: 1.1em;
}

.post-form .form input[type=submit] {
  width:12%;
}

/**
 * SLIDES
 */

#slides {
  height:100%;
  text-align: center;
  width:100%;
  display: table;
}

.slide-wrapper {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}

#slides .hero h1 {
  font-size: 10em;
}

