<section id="guides" class="page-wrapper">
	<section class="menu">
		<section id="conepts">
			<header>
				<h3>Concepts</h3>		
			</header>
			<div>
				<ul>
					<li><a ng-click="showVideo($event)">What it means to be "URL driven"</a></li>
					<li><a ng-click="showVideo($event)">Dependency injection</a></li>
				</ul>
			</div>
		</section>

		<section id="guide-topics">
			<header>
				<h3>Guide topics</h3>
			</header>
			<div>
				<ul>
					<li><a ng-click="showVideo($event)">First Steps</a></li>
					<li><a ng-click="showVideo($event)">Declaring a model</a></li>
					<li><a ng-click="showVideo($event)">View models</a></li>
					<li><a ng-click="showVideo($event)">belongsTo</a></li>
					<li><a ng-click="showVideo($event)">hasMany</a></li>
					<li><a ng-click="showVideo($event)">Persisting a model</a></li>
					<li><a ng-click="showVideo($event)">Setting up Auth</a></li>
					<li><a ng-click="showVideo($event)">Adding auth to routes</a></li>
					<li><a ng-click="showVideo($event)">Adding auth to model requests</a></li>
					<li><a ng-click="showVideo($event)">Adding auth to model persistence</a></li>
					<li><a ng-click="showVideo($event)">Adding roles</a></li>
					<li><a ng-click="showVideo($event)">Confiuring the loader</a></li>
					<li><a ng-click="showVideo($event)">Styling the loader</a></li>
				</ul>
			</div>
		</section>
	</section>
	<!-- Main Content -->
	<section id="guides-main" class="main-content">
		<section>
			<header>
				<!-- <h2>{{title}}</h2> -->
			</header>
			<video ng-src="{{videoUrl}}"></video>
		</section>
	</section>
</section>